{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% bootstrap_css %}
  {% block css %}{% endblock css %}
  <style>
    body {
      background-color: #030C17;
      height: 1000px;
    }

    .base {
      margin-top: 10rem;
      margin-left: 15rem;
      margin-right: 15rem;
    }
  </style>
</head>
<body class="base">
  {% block body %}
  {% endblock body %}
  {% bootstrap_javascript %}
</body>
</html>