{% extends 'base.html' %}

{% block body %}

<table class="table table-light">
    <thead class="table-secondary">
        <tr>
            <th scope="col">pk</th>
            <th scope="col">영화 제목</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for movie in movies %}
        <tr>
            <th scope="row">{{ movie.pk }}</th>
            <td><a href="{% url 'movies:detail' movie.pk %}">{{ movie.title }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock body %}