{% extends 'base.html' %}

{% block content %}
<div> 
  <form action="{% url 'movies:movies' %}" method="GET">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input type="Text" class="form-control" id="exampleFormControlInput1" placeholder="Title" name="title">
    </div>
  </form>

  <form action="{% url 'movies:movies' %}" method="GET">
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Summary</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Summary" name="summary"></textarea>
    </div>
  </form>

  <form action="{% url 'movies:movies' %}" method="GET">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Running Time</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" name="running_time">
    </div>
  </form>

  <form action="{% url 'movies:movies' %}" method="GET">
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">추가</button>
    </div>
  </form>
</div>
{% endblock %}