body { 
  margin: 0;
  color: white;
}

.section_1 {
  z-index: 1; 
  padding: 5rem; 
  background-image: url("/static/images/bgimg.jpg");
  position: relative; 
  width: 90%;
  height: 900px;
}

.section_1_1 {
  margin-top: 150px;
  margin-bottom: 3rem;
}

.section_2 {
  z-index: 2;
  padding: 3rem; 
  margin: 0;
  background-image: url("/static/images/bgimg.jpg");
  position: relative; 
  right:-1430px; 
  top: -1020px; 
  width: 28%; 
  height: 780px;
}

.section_2_1 {
  margin-top: 120px;
}

.customBtn {
  border: 1px solid white;
  border-radius: 40px;
  padding: 17px;
}