* {
  box-sizing: border-box;
}

.item-container {
  display: flex; 
  height: 500px;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100px;
  height: 200px;
  border: 1px solid black;
  margin: 1rem;
}